
/* FONT FACES */
@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Bree_Serif';
    src: url(fonts/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: 'Parisienne';
    src: url(fonts/Parisienne-Regular.ttf);
}
@font-face {
    font-family: 'Sedgwick';
    src: url(fonts/SedgwickAveDisplay-Regular.ttf);
}
@font-face {
    font-family: 'ShantellSans';
    src: url(fonts/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}
@font-face {
    font-family: 'Noto_Serif';
    src: url(fonts/Noto_Serif/NotoSerif-Regular.ttf);
}
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
.header {
    font-family:'Bree_Serif';
    padding: 1.5rem 2rem;
    display: flex;
    
    justify-content: space-between;
}
.header .logo {
    font-family:'ShantellSans';
    letter-spacing: 3px;
}
.menu ul li{
    margin: 0 8px;
    list-style-type: none;
    margin-top: 0.7rem;
    display: inline-block;
}
.mobile-menu {
    display: none;
    margin-top: 2.5rem;
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.mobile-menu ul li{
    list-style: none;
    
}
.mobile-menu ul li a{
    color: white;
    text-decoration: none;
}
.mobile-menu ul li a:hover {
    border-top: 2px solid goldenrod;
    border-radius: 50%;
}
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    border-top: 2px solid goldenrod;
    border-radius: 50%;
}
.logo {
    color: gold;
}
.tel {
    color: whitesmoke;
    margin-top: 0.5rem;
}
.tel a {
    color: whitesmoke;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image:linear-gradient(rgba(23,14,12,0.5), rgba(78,23,12,0.7)), url(images/hero-background.jpg);
}
.heroContent{
    text-align: center;
}
.heroTitle {
    color: white;
    font-size: 2rem;
    width: 25rem;
    margin: auto;
    padding: 2rem 0;
    /* width: fit-content; */
    text-align: center;
    border-top:2px solid white;
    border-bottom: 2px solid gold;
}
.heroTitle h2 {
    letter-spacing: 10px;
}
.heroTitle p {
    font-size: 20px;
}
.comments {
    width: 17rem;
    margin: auto;
    margin-top: 2rem;
    color: goldenrod;
}
.welcome {
    font-family: 'Noto_Serif';
    color: white;
    height: 30rem;
    background-color: #111111;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
    align-items: center; /* This is the trick to vertically center content in a div. 
    The height property has to be there.*/
}
.welcomeInfo * {
    margin-top: 2rem;
}
hr#welcome {
    width: 90px;
    height: 2px;
    background-color: goldenrod;
    margin: auto;
    text-align: center;
}
.welcomeInfo h2 {
    letter-spacing: 8px;
}
.welcomeInfo p {
    width: 25rem;
}
.more {
    margin-top: 4rem;
}
.more a{
    border: 1px solid white;
    padding: 1rem 1.5rem;
    text-decoration:none;
    color: white;
}
.more a:hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    transition: 1s font-size;
    /* transform:scaleX(0.1) */
}
.gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2;
}

.galleryPic {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
    cursor: pointer;
    font-family: 'Noto_Serif';
    /* background-size: contain; */
}
.hiddenInfo {
    display: none;
    width: 50%;
    margin: 0 auto;
}
.hiddenInfo .learn {
    background: transparent;
    border: 1px solid white;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    padding: 15px 0;
}
.learn a {
    color: white;
    text-decoration: none;
}
.learn a:hover {
    color: goldenrod;
}
.cruise{
    background-image: url('Images/cruise-workshop.jpg');
}

.wedding {
    background-image: url('Images/wedding-photography.jpg');
}

.catalog {
    background-image: url('Images/catalogshoot.jpg');
}

.slideshow{
    background-image: url('Images/couple.jpg');
}

.cruise:hover {
    background: -webkit-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(Images/cruise-workshop.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
}
.wedding:hover {
    background: -webkit-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(Images/wedding-photography.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
}
.catalog:hover{
    background: -webkit-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(Images/catalogshoot.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
}
.slideshow:hover {
    background: -webkit-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(Images/couple.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
}


.galleryText {
    /* display: flex; */
    height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 20%;
}
.galleryText h2 {
    font-size: 40px;
    font-family: 'Noto_Serif';
}

.contact {
    font-family: 'Noto_Serif';
    padding: 5rem 0;
    background-color: #111111;
    color: white;
    text-align: center;
}
.contactTitle {
    letter-spacing: 7px;
    font-size: 20px;
    margin-bottom: 3rem;
}
.hamburger {
    display: none;
    text-align: right;
    cursor: pointer;
    flex-direction: column;
}

.details {
    border: 1px solid goldenrod;
    background-color: transparent;
}
hr#hrContact {
    text-align: center;
    width: 4rem;
    height: 2px;
    background-color: goldenrod;
    margin: auto;
    margin-bottom: 1rem;
}
a.endLink {
    padding-bottom: 4rem;
}

button{
    background-color: transparent;
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 2.5rem;
    transition: 1s font-family, 1s font-size;
}
button:hover{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.quickLinks a {
    text-align: center;
    color: white;
    margin-left: 1rem;
    text-decoration: none;
}
.quickLinks a:hover{
    color:goldenrod;
}
.contactDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: center;
}
.contactDetails * {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid goldenrod;
    outline: none;
    text-align: center;
    padding: 1rem 3rem;
    color: white;
    background-color: transparent;
    width: 14rem;
}
.contactDetails input:focus{
    background-color: transparent !important;
    outline: none !important;
}
.contactDetails input:active {
    background-color: transparent !important;
    outline: none !important;
}
.contactDetails input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(69, 69, 237) inset !important;
    color: white;
}


input, select, textarea{
    color: white;
}
.contact input, textarea {
    color: white;
    font-size: 15px;
}
.contact ::placeholder {
    color: white;
    font-family: 'Noto_Serif';
}
.contactLinks a{
    display: block;
    width: 14rem;
    margin: auto;
    border-bottom: 1px solid goldenrod;
    text-decoration: none;
    padding: 1rem 3rem;
    color: white;
    transition: 2s width;
}
.contact textarea{
    height: 100px;
}
.footer {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(rgba(190, 39, 39, 0.5), rgba(209, 26, 26, 0.5)), url(images/hero-background.jpg);
    background-size: cover;
}
/* FOR MOBILE SCREEN */
@media screen and (max-width: 850px) {
    .tel {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .hamburger img {
        
        width: 35px;
        height: 35px;
    } 
    .heroTitle {
        font-size: 1.5rem;
        width: 15rem;
    }
    .comments {
        width: 12rem;
        margin: auto;
        margin-top: 2rem;
        color: goldenrod;
    }
    .menu {
        display: none;
    }
    .mobile-menu {
        /* display: block; */
    }
    
    .welcomeInfo p {
        width: 15rem;
    }
    .gallery {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1;
        justify-content: center;
    }
    .galleryText {
        padding-top: 25%;
    }
    .contactTitle {
        font-size: 15px;
    }
    .contactLinks a{
        width: 8rem;
        
    }
}